<div class="tab-pane fade show active text-center" id="section1" role="tabpanel" data-controller="random-board">
  <h1>Duel a Random Deck</h1>
  <div class="my-5">
    <label for="select-tier" class="fs-3">Choose your tier:</label><br>
    <select name="random-tier" id="select-tier" class="fs-4" data-random-board-target="tier">
      <% @tiers.each do |tier, description| %>
        <option value="<%= tier %>" data-random-board-target="tier"><%= tier.capitalize %> - <%= description %></option>
      <% end %>
    </select>
  </div>
  <button class="btn btn-primary fs-2 fw-bold px-5 mt-5 rounded-0" data-action="click->random-board#open" id="generate-board-btn">GENERATE BOARD</button>
</div>