<div id="specific-deck-tab" class="tab-pane fade text-center" id="section2" role="tabpanel" data-controller="deck-search">
  <h1>Duel a Specific Deck</h1>
  <div class="text-center">
    <label for="deck-name">Search by Name:</label>
    <input type="text" id="deck-name" placeholder="e.g. Ryzeal" data-deck-search-target="query" data-action="keyup->deck-search#search_decks">
  </div>
  <%= render 'archetype_table' %>
</div>