<div data-deck-search-target="decks_table">
  <% if @decks.empty? %>
    <h1>You don't have any decks yet.</h1> 
  <% else %>
    <label for="user-deck-search">Search by Name:</label>
    <input type="text" id="user-deck-search" placeholder="e.g. Ryzeal" data-action="keyup->deck-search#search_decks" data-deck-search-target="query">
    
    <% @decks.each do |deck| %>
      <div class="user-deck border border-primary rounded-3 py-3 px-4 mt-4">
        <p class="d-inline-block align-middle my-0 mx-1">#<%= deck.id %></p>  
        <h4 class="d-inline-block align-middle my-0 mx-2 search_target"><%= "#{deck.name} | #{pluralize(deck.boards.count, '- Board')} | Uploaded on: #{deck.created_at.strftime('%d/%m/%Y')}" %></h4>
        <%= link_to "View", user_deck_path(@user, deck), class: "btn btn-primary align-middle my-0 mx-1 px-3 py-1" %>
        <%= link_to "Delete", user_deck_path(@user, deck), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete #{deck.name}?"}, class: "btn btn-danger" %>
      </div>
    <% end %>
  <% end %>
</div>  