<section>
  <h1>Log In</h1>

  <%= render 'login_form' %>
  <br>

  <p>Don't have an account yet? <%= link_to "Sign up.", signup_path %></p>
  <%# link_to "Forgot password?", new_password_path %>
</section>