<%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>
<%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %>

<section>
  <h1>Sign Up</h1>

  <%= render 'signup_form' %>
  <p>Already have an account? <%= link_to "Log in.", login_path %></p>
</section>
