<%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>
<%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %>

<h1>Sign Up Page</h1>

<%= render 'signup_form' %>
<br>

<%= link_to "Log In", login_path %>
<%# link_to "Forgot password?", new_password_path %>
