<div data-dueling-board-target="banishment-overlay" class="p-3 hidden-overlay">
  <button class="btn btn-danger px-3" data-action="click->dueling-board#closeBanishmentOverlay">X</button>
  <h1 class="text-center">Banishment</h1>
  <div data-dueling-board-target="banishment-overlay-cards" class="d-flex flex-row justify-content-evenly flex-wrap">

  </div>
</div>