<div class="p-3" data-dueling-board-target="card-details" data-action="click->dueling-board#closeCardDetails">
  <p class="mb-0 color-gray small-gray">Tap this box to close</p>
  <h2 data-dueling-board-target="card-details-name"></h2>
  <p data-dueling-board-target="card-details-description"></p>
</div>