<div data-dueling-board-target="graveyard-overlay" class="p-3 hidden-overlay board-overlay">
  <button class="btn btn-danger px-3" data-action="click->dueling-board#closeBoardOverlay">X</button>
  <h1 class="text-center">Graveyard</h1>
  <div data-dueling-board-target="graveyard-overlay-cards" class="d-flex flex-row justify-content-evenly flex-wrap">

  </div>
</div>