<div class="container-fluid row">
    <div class="col-lg-9 col-12 position-relative">
      <%= render "homepage/dueling/board" %>
      <%= render 'homepage/dueling/board_overlays' %>
      <%= render 'homepage/dueling/card_information' %>
    </div>
    <div class="col-lg-3 col-12 mt-3 mt-lg-0 border-lg-left">
      <%= render "homepage/dueling/options" %>
    </div>
  </div>