<h3 class="mb-0">Options:</h3>
<div data-dueling-board-target="options">

</div>

<h3 class="mt-4 mb-0">Summons:</h3>
<div data-dueling-board-target="summons">

</div>

<p class="text-danger text-decoration-underline mt-3">Report Deck</p>
<button class="btn btn-lg btn-primary" data-action="click->dueling-board#newDeck">New Deck</button>