<h3>Options:</h3>
<div data-dueling-board-target="options">

</div>

<p class="text-danger text-decoration-underline mt-3">Report Deck</p>
<button class="btn btn-lg btn-primary" data-action="click->dueling-board#newDeck">New Deck</button>