.font-secondary{
  font-family: $font-family-secondary;
}

body{
  min-height:100vh;
  background: radial-gradient(rgb(39, 39, 39),rgb(11, 11, 11));
}

.nav-logo{
  width:13vw;
  min-width:140px;
}

.alert-success{
  background-color: rgb(0, 36, 0) !important;
  color: rgb(183, 255, 183) !important;
  border-color: rgb(183, 255, 183) !important;
}

.alert-danger{
  background-color: rgb(48, 0, 0) !important;
  color: rgb(255, 183, 183) !important;
  border-color: rgb(255, 183, 183) !important;
}

section{
  background-color: #111111;
  padding-left:15px !important;
  padding-right:15px !important;
  padding-top:30px !important;
  padding-bottom:30px !important;
  box-shadow: 0 0 5px $primary;
  margin-bottom: 60px;
}

input, select{
  background-color: #202020;
  color: rgb(240, 240, 240);
  border:2px solid $primary;
  padding:2px 5px;
}

.field_with_errors{
  display:inline-block !important;
}

.field_with_errors input{
  border:2px solid $danger;
}

.nav-tabs .nav-link:not(.active){
  border: 1px solid $primary !important;
}

.btn-outline-primary{
  color: $body-color !important;
}

.decks-table{
  max-height:400px;
  overflow-y:scroll;
  background-color: #171717;
}

#dueling-overlay{
  opacity:0;
  pointer-events:none;
  transition: opacity 0.2s;
}

p[data-dueling-board-target="username"]{
  color:rgb(117, 117, 117);
  font-size: 1.1rem;
}

#dueling-board{
  width:100%;
  border-spacing: 5px;
  border-collapse: separate;
  table-layout: fixed;
}

#dueling-board td{
  width:14.2%;
}

#dueling-board td img{
  width:100%;
}

#dueling-board .usable-zone{
  background-color: transparent;
  border:1px solid gray;
}

.user-deck{
  background-color: #171717;
  display:inline-block;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(94, 118, 161);
  background-color: #111111;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primary;
  border-radius: 10px;
}

@media (min-width: 992px){
  section{
    padding-left:40px !important;
    padding-right:40px !important;
  }
}