$blue: #183B57;
$primary: $blue;
$danger: #982929;
$success: #2C8112;

$font-family-base: 'Alumni Sans';
$font-family-secondary: 'Montserrat';
$body-color: #d2d2d2;
$link-color: #d2d2d2;

$offcanvas-bg-color: #111111;
$btn-close-color: #fff;
$nav-link-font-size: 30px;