<% if @deck.archetypes.present? %>
  <% @deck.deck_archetypes.includes(:archetype).each do |deck_archetype| %>
    <%= link_to deck_archetype_path(deck_archetype), data: { turbo_method: :delete }, class: "btn btn-primary me-2" do %>
      <i class="bi bi-x-lg me-2 align-middle"></i><%= deck_archetype.archetype.name %>
    <% end %>
  <% end %>
<% end %>
<button class="btn btn-outline-primary" data-action="click->editing-deck#openArchetypesTable"> + Add Archetype </button>

<div class="editing-archetypes-table mt-3 text-center" data-editing-deck-target="archetypes-table">
  <% @archetypes.each do |archetype| %>
    <button class="btn btn-outline-primary my-1 mx-1 rounded-5 px-4" value="<%= archetype.id %>">
      <%= archetype.name %>
    </button>
  <% end %>
</div>