<div data-controller="viewing-board" data-deck-id="<%= params[:id] %>">

  <h1 class="mb-0">Boards</h1>
  <div data-controller="dueling-board" data-card-image-url="<%= asset_path('card.jpg')%> ">
    <%= render 'homepage/dueling/interface' %>

    <h1 class="mt-4 mb-0" data-dueling-board-target="board-information-title"></h1>
    <p class="mt-0 mb-5" data-dueling-board-target="board-information"></p>
  </div>
</div>