<section>
  <%= link_to "< Back", user_deck_path(@user, @deck), class: "btn btn-danger mb-3" %>
  <div data-controller="editing-deck">
    <div>
      <h2>Archetypes:</h2>
      <%= render 'editing_archetypes' %>
    </div>
  </div>
</section>